body {
    margin: 0px;
}

.headbar {
    background-color: rgb(146, 7, 14);
    padding: 3px;
    font-size: 2rem;
    font-family: 'Englebert', sans-serif;
    color: white;
    position: fixed;
    width: 100%;
    top: 0px;
}

.headbar-title {
    margin-left: 30px;
}

div#tp {
    height: 0px;
}