body,
html {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #F4F8FB;
  color: #132643;
  font-family: 'Muli', sans-serif;
}

.offline-notification {
  display: inline-block;
  background-color: #E91E63;
  border-radius: 3px;
  color: #ffffff;
  position: fixed;
  right: 20px;
  z-index: 99999;
  padding: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}

.about {
  width: 100%;
  z-index: 2;
}

.about-heading {
  font-size: 2rem;
  line-height: 1.4;
  color: #ffffff;
  font-weight: 700;
}

.about-content {
  font-size: 1.9rem;
  color: #ffffff;
}

.about-content strong {
  color: #FF9800;
}

.container {
  padding: 0px 20px;
}

.container-bg-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-bottom: 120px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 267.83"><path d="M0,260.08s59.38-67.65,123-29.62,129.25-22.89,165.6,13.47,119.48,27.82,168.3-2.7C500,214.31,509.47,235.58,591.55,252c43.08,8.63,59.23-1.88,92.93-.27,36.51,1.74,44.4-25.31,103.64-15.88,75.43,12,85.33-14.76,142.72-11.51,63.26,3.6,68.54-21.29,130.59-9.65,64.63,12.12,96.23-.65,132-11.16,45.78-13.46,94.51-19.88,142.72-25.58,67.31-7.95,92.9-49.81,140-39,48.89,11.17,55.2-41.74,193.88-16.15,79.5,14.67,178.66-47.59,223.5-32.32C1956.78,112,2000,0,2000,0H0Z" style="fill:%23000617" /></svg>') no-repeat;
  background-position: top;
  background-size: cover;
}

.container__flex {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.header {
  font-size: 1.1rem;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  height: 40px;
}

.header span {
  height: 100%;
  display: inline-block;
  border-bottom: 2px solid #ff9900;
}

.header-wrapper {
  border-bottom: 2px solid #dfe4e7;
  margin-bottom: 25px;
}

.about-me {
  font-size: 20px;
  color: #4c4d4e;
}

.works {
  font-family: 'Karla', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
}

.work-row {
  display: inline-block;
}

.work-link {
  box-shadow: 0 15px 35px 0 rgba(42,51,83,.12), 0 5px 15px rgba(0,0,0,.06);
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: all .15s ease;
}

.work-link:hover {
  transform: translateY(-2px);
}

.work-bg {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.work-title {
  font-size: 1.2rem;
}

.work-details {
  background-color: #ffffff;
  padding: 20px;
}

.work-description {
  margin-top: 20px;
  font-size: 1rem;
}

.links {
  list-style: none;
  padding: 0;
  font-size: 1.3rem;
  text-align: right;
}

.link-item {
  display: inline-block;
  margin: 0 0 0 10px;
}

.link-item svg {
  fill: #4c4d4e;
  transition: 0.2s all ease-in;
}

.link-item a:hover svg {
  fill: #6b6b6b;
}

@media (max-width: 400px) {
  .about-content {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width:768px) {
  .container__flex {
    margin-bottom: 130px;
  }
  .container {
    padding: 20px 100px;
  }
}

@media only screen and (min-width:1440px) {
  .container__flex {
    margin-bottom: 200px;
  }
  .about {
    width: 60%;
  }
  .container {
    padding: 20px 100px;
  }
}
