body, html {
    height: 100%;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
}

.page {
    display: inline-block;
    width:  100%;
    background-color: #47b6e852;
    font-size:  30px;
    color: #332f2fc9;
    padding:  30px;
    box-sizing:  border-box;
    border-radius: 3px;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.18), 0 -1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-link, a {
    text-decoration:  none;
    color: inherit;
    position:  relative;
    border-bottom: none;
}

.header-link:hover, a:hover {
    color: #080808;
}

.header-link::after {
    content: "-—";
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 5px;
    color: #a5c1d0;
}

.static-text {
    font-size:  20px;
    margin-top: 50px;
    line-height: 2;
}

a {
    border-bottom: 3px solid #a5c1d0;
    padding-bottom: 3px;
}

.heading {
    border-top: 2px solid #0404041f;
    padding-top: 30px;
}

.project {
    display:  inline-block;
    background-color: #000000a6;
    height: 200px;
    margin: 20px;
    width:  300px;
    vertical-align: middle;
    padding:  30px;
    box-sizing:  border-box;
    border-radius:  3px;
    color:  #fff;
}

.projects {
    display: inline-flex;
    align-items:  center;
    justify-content:  center;
    width:  100%;
}